#dominio de desarrollo (coméntalo si vas a gastar localhost)
VITE_LOCALHOST_DOMAIN=my_dev_domain.test
VITE_LOCALHOST_PORT=5173
#DOMINIO del PROXY para evitar problemas de CORS en local:
VITE_PROXY_DOMAIN=https://app.my_backend_url.com

#Ruta base de la URL de la api de back:
VITE_APP_API_URL=https://app.my_backend_url.com/api 

#variable de entorno utilizada para indicar si el entorno actual es de desarrollo.
VITE_IS_DEVELOP=true


#email: 'zeus@llyc.global',
#password: 'Str0ng!Passw0rd2024$',